@use "../abstracts/variables";

@mixin section-header {
  font-size: variables.$h2-size;
  margin-bottom: 0.5rem;
  padding: 1rem;
  padding-bottom: 0;
}

@mixin section-align {
  margin: variables.$section-margin;
  text-align: center;
}

@mixin darkMode {
  background-color: variables.$clr-secondary;

  .header-section {
    .wall {
      background-color: hsl(43, 31%, 79%);
    }

    .message {
      color: variables.$clr-primary;

      &:before {
        background-color: variables.$clr-secondary;
      }
      &:after {
        background-color: variables.$clr-primary;
      }
    }

    .face {
      .eye {
        height: 10px;
        border-radius: 0 0 5rem 5rem;
      }
    }

    .cup {
      [class*="steam-"] {
        background-color: hsl(0, 0%, 50%);
      }
    }

    .switch {
      .light {
        button {
          background-color: hsl(240, 4%, 30%);
          border-radius: 0.15em;

          &:before {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            top: 3px;
            background-color: hsl(240, 4%, 65%);
            border-radius: 0.15em 0.15em 0 0;
          }

          &:after {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            top: 10px;
            background-color: hsl(240, 4%, 80%);
            border-radius: 0 0 0.15em 0.15em;
          }
        }
      }
    }
  }

  .diagonal {
    &:after {
      background: linear-gradient(
        109.6deg,
        rgb(20, 30, 48) 11.2%,
        rgb(36, 59, 85) 91.1%
      );
    }
  }

  .about-section {
    .header {
      color: variables.$clr-primary;
    }

    .body {
      .bio {
        color: variables.$clr-primary;
      }
    }
  }

  .skills-section {
    .header {
      color: variables.$clr-primary;
    }

    .skills-grid {
      .skill {
        color: variables.$clr-primary;
      }
    }
  }

  .projects-section {
    .header {
      color: variables.$clr-primary;
    }

    > {
      a {
        color: variables.$clr-primary;
      }
    }

    .card-grid {
      .card {
        background-color: variables.$clr-secondary;
        border: 3px solid variables.$clr-primary;
        box-shadow: 8px 8px variables.$clr-primary;

        .card-title {
          color: variables.$clr-primary;
        }

        .card-body {
          color: variables.$clr-primary;
        }
      }
    }
  }

  .contact-section {
    .header {
      color: variables.$clr-primary;
    }

    .email {
      color: variables.$clr-primary;

      border: 3px solid variables.$clr-primary;
      box-shadow: 6px 6px variables.$clr-primary;
    }

    .contact-form {
      label {
        color: variables.$clr-primary;
      }
    }
  }

  .creator {
    color: variables.$clr-primary;
  }
}
