@use "../abstracts/variables";

@mixin section-header {
  font-size: variables.$h2-size;
  margin-bottom: 0.5rem;
  padding: 1rem;
  padding-bottom: 0;
}

@mixin section-align {
  margin: variables.$section-margin;
  text-align: center;
}

@mixin darkMode {
  background-color: variables.$clr-secondary;

  .header-section {
    .titles {
      color: variables.$clr-primary;
    }

    .wall {
      background-color: hsl(43, 31%, 79%);
    }

    .message {
      color: variables.$clr-primary;

      &:before {
        background-color: variables.$clr-secondary;
      }
      &:after {
        background-color: variables.$clr-primary;
      }
    }

    .face {
      .eye {
        height: 0.625em;
        border-radius: 0 0 5rem 5rem;
      }
    }

    .cup {
      [class*="steam-"] {
        background-color: hsl(0, 0%, 50%);
      }
    }

    .switch {
      .light {
        button {
          background-color: hsl(240, 4%, 30%);
          border-radius: 0.15em;

          &:before {
            content: "";
            position: absolute;
            width: 0.625em;
            height: 0.625em;
            top: 0.1875em;
            background-color: hsl(240, 4%, 65%);
            border-radius: 0.15em 0.15em 0 0;
          }

          &:after {
            content: "";
            position: absolute;
            width: 0.625em;
            height: 0.625em;
            top: 0.625em;
            background-color: hsl(240, 4%, 80%);
            border-radius: 0 0 0.15em 0.15em;
          }
        }
      }
    }
  }

  .diagonal {
    &:after {
      background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
    }
  }

  .about-section {
    .header {
      color: variables.$clr-primary;
    }

    .body {
      .bio {
        color: variables.$clr-primary;
      }
    }
  }

  .skills-section {
    .header {
      color: variables.$clr-primary;
    }

    .skills-grid {
      .skill {
        color: variables.$clr-primary;
      }
    }
  }

  .projects-section {
    .header {
      color: variables.$clr-primary;
    }

    > {
      a {
        color: variables.$clr-primary;
      }
    }

    .card-grid {
      .card {
        background-color: variables.$clr-secondary;
        border: 0.1875em solid variables.$clr-primary;
        box-shadow: 0.5em 0.5em variables.$clr-primary;

        .card-title {
          color: variables.$clr-primary;
        }

        .card-body {
          color: variables.$clr-primary;
        }
      }
    }
  }

  .contact-section {
    .header {
      color: variables.$clr-primary;
    }

    .email {
      color: variables.$clr-primary;

      border: 0.1875em solid variables.$clr-primary;
      box-shadow: 0.375em 0.375em variables.$clr-primary;
    }

    .contact-form {
      label {
        color: variables.$clr-primary;
      }
    }
  }

  .creator {
    color: variables.$clr-primary;
  }
}
