$font-family: "Source Sans Pro", sans-serif;

$section-margin: 4.5rem;
$box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
  0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

// $clr-primary: hsl(50, 18%, 93%);
$clr-primary: hsl(276, 33%, 97%);

$clr-secondary: hsl(217, 45%, 15%);
$clr-accent: hsl(224, 33%, 75%);
$clr-accent--lt: hsl(224, 33%, 75% + 10%);
$clr-text: hsl(240, 4%, 16%);

$h1-size: 4rem;
$h2-size: 3rem;
$h3-size: 2rem;
$p-size: 1.5em;
$p-size--card: 1.25em;
$p-size--email: 1.12em;
$nav-size: 1.75rem;
$btn-size: 1.1em;
$technology-size: 0.75em;

$letter-spacing: 1px;
$letter-spacing--nav: 0.5px;
