@use "../abstracts";

.about-section {
  @include abstracts.section-align();

  .header {
    @include abstracts.section-header();
  }

  .body {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .bio {
      padding: 0 4em;
      font-size: abstracts.$p-size;
      line-height: 2.2rem;
    }
  }

  @media (max-width: 768px) {
    margin: 0;

    .body {
      .bio {
        padding: 0 1.5em;
      }
    }
  }
}
