@use "../abstracts";

.about-section {
  @include abstracts.section-align();
  margin-bottom: 2rem;

  .header {
    @include abstracts.section-header();
    color: abstracts.$clr-text;
    letter-spacing: abstracts.$letter-spacing;
  }

  .body {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .bio {
      color: abstracts.$clr-text;
      padding: 0 2em;
      font-size: abstracts.$p-size;
      font-weight: 400;
      line-height: 2.3rem;
    }
  }

  @media (max-width: 768px) {
    margin: 0;

    .header {
      margin-top: 2rem;
    }

    .body {
      .bio {
        padding: 0 1.5em;
      }
    }
  }
}
