@use "../abstracts";

.header-section {
  @include abstracts.section-align();
  margin-top: abstracts.$section-margin + 2rem; /* Accomodate for fixed nav */
  margin-bottom: 7rem;
  padding: 11rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .wall {
    position: absolute;
    width: 35%;
    height: 85%;
    border-radius: 10rem 10rem 0 0;
    background-color: hsl(43, 31%, 89%);
    bottom: 30px;
    z-index: -3;
  }

  .desk {
    position: absolute;
    width: 40%;
    height: 12px;
    bottom: calc(1em + 3px); /* accomodates for change to thinner desk width */
    background-color: #e2d3cd;
    border-radius: 1em;
  }

  @keyframes blink {
    to {
      background-color: transparent;
      border: transparent;
    }
  }

  .laptop {
    position: absolute;
    width: 175px;
    height: 115px;
    bottom: calc(1em + 15px); /* sitting on top of desk */
    background-color: abstracts.$clr-text;
    border-top: 4px solid abstracts.$clr-secondary;
    border-radius: 0.5em 0.5em 0 0;
    z-index: 1;

    .dot {
      position: absolute;
      width: 6px;
      height: 6px;
      left: 10px;
      top: 9px;
      background-color: hsl(0, 100%, 37%);
      border-radius: 50%;
    }
  }

  .book-one {
    position: absolute;
    width: 70px;
    height: 12px;
    bottom: calc(1em + 14px); /* sitting on top of desk */
    left: 350px;
    border-style: inset;
    border: 2.5px solid hsl(49, 100%, 45%);
    border: 2.5px solid hsl(141, 9%, 68%);

    border-left: 0;
    border-right: 6px solid hsl(141, 9%, 79%);
    border-radius: 0 0.5em 0.5em 0;
    background-color: #f9f9f3;
  }
  .book-two {
    position: absolute;
    width: 70px;
    height: 20px;
    bottom: calc(1em + 14px + 12px); /* sitting on top of book-one */
    left: 370px;
    border-style: inset;
    border: 4px solid hsl(201, 75%, 43%);
    border-right: 10px solid hsl(201, 75%, 60%);
    border-left: 0;
    border-radius: 0 0.5em 0.5em 0;
    background-color: hsl(60, 33%, 96%);
  }

  .message {
    position: absolute;
    width: max-content;
    font-size: 1rem;
    letter-spacing: 2px;
    font-family: "Roboto Mono", monospace;
    text-decoration: none;
    left: 235px;
    bottom: 100px;
    transform: rotate(-20deg);
    color: abstracts.$clr-secondary;

    &:before {
      content: "";
      position: absolute;
      inset: 0 0 0 0;
      background-color: abstracts.$clr-primary;
      animation: texting 7s steps(10) forwards infinite;
    }
    &:after {
      content: "";
      position: absolute;
      inset: 0 0 0 0;
      width: 0.125em;
      background-color: abstracts.$clr-text;
      animation: texting 7s steps(10) forwards infinite;
    }
  }

  @keyframes texting {
    0% {
      left: 0%;
    }
    14% {
      left: 100%;
    }
    100% {
      left: 100%;
    }
  }

  .phone {
    position: absolute;
    width: 50px;
    height: 6px;
    bottom: calc(1em + 13px + 12px + 20px); /* sitting on top of book-two */
    left: 379px;
    background-color: abstracts.$clr-text;
    border-radius: 0.05em 0.05em 0.1em 0.1em;

    .rings {
      position: absolute;
      width: 30px;
      height: 30px;
      left: -7px;
      bottom: 7px;

      .ring {
        position: absolute;
        width: 3px;
        height: 12px;
        top: 12px;
        border-radius: 1em;
        border: 1px solid hsl(54, 98%, 43%);
        background-color: hsl(54, 98%, 50%);
        transform: skew(30deg);
        animation: blink 600ms infinite;

        &:nth-of-type(2) {
          height: 14px;
          top: 8px;
          right: 15px;
          transform: none;
        }
        &:nth-of-type(3) {
          right: 7px;
          transform: skew(-25deg);
        }
      }
    }
  }

  .face {
    position: absolute;
    width: 78px;
    height: 75px;
    bottom: 130px;
    border-radius: 0 0 50px 50px;
    border: 6px solid hsl(21, 76%, 82%);
    // box-shadow: 0 -20px 0 15px red; /* headband option */
    border-top-style: outset;
    background-color: hsl(22, 93%, 88%);

    .eye {
      position: absolute;
      width: 12px;
      height: 12px;
      bottom: 21px;
      left: 9px;
      border-radius: 50%;
      background-color: hsl(17, 23%, 26%);

      &:nth-child(2) {
        left: auto;
        right: 9px;
      }
    }

    .nose {
      position: absolute;
      width: 6px;
      height: 14px;
      bottom: 13px;
      left: 29.5px;
      border-radius: 20px;
      background-color: hsl(24, 70%, 79%);
    }

    .ears {
      position: absolute;
      width: 110px;
      height: 30px;
      left: -22px;

      [class*="ear-"] {
        position: absolute;
        width: 10px;
        height: 20px;
        bottom: -10px;
        border-radius: 5rem 0 0 5rem;
        background-color: hsl(21, 76%, 82%);
      }

      .ear-left {
        left: 8px;
      }
      .ear-right {
        right: 8px;
        border-radius: 0 5rem 5rem 0;
      }
    }

    .hair {
      position: absolute;
      width: 95px;
      height: 60px;
      left: -14.5px;
      border-radius: 5rem 5rem 0 0;
      background-color: #18110e;
      z-index: -3;
    }

    .hair-top {
      position: absolute;
      width: 75px;
      height: 40px;
      background-color: transparent;
      border-radius: 10rem 10rem 1rem 1rem;
      box-shadow: 0 -15px 0 10px hsl(18, 26%, 7%);
      left: -4.5px;
      bottom: 33px;
    }

    .hair-left {
      position: absolute;
      width: 55px;
      height: 27.5px;
      border-bottom: thick double hsl(18, 26%, 25%);
      border-radius: 50%;
      background-color: hsl(18, 26%, 7%);
      transform: rotate(-45deg);
      right: 25px;
      bottom: 44px;
    }

    .hair-right {
      position: absolute;
      width: 55px;
      height: 27.5px;
      border-bottom: thick double hsl(18, 26%, 25%);
      border-radius: 50%;
      background-color: hsl(18, 26%, 7%);
      transform: rotate(45deg);
      left: 28px;
      bottom: 46px;
    }
  }

  .cup {
    position: absolute;
    width: 43px;
    height: 25px;
    right: 380px;
    bottom: calc(1em + 15px); /* sitting on top of desk */
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 48px solid #e79898;

    &:after {
      content: "";
      position: absolute;
      width: 8px;
      right: -2px;
      bottom: 3px;
      border-top: 35px solid hsl(28, 18%, 94%);
      border-left: 0 solid transparent;
      border-right: 5px solid transparent;
    }

    .lid {
      position: absolute;
      width: 47px;
      height: 7px;
      right: -9px;
      bottom: 43px;
      background-color: #e79898;
      border-radius: 1em;
      border-bottom: thin double hsl(28, 18%, 94%);
    }

    [class*="steam-"] {
      position: absolute;
      width: 20px;
      height: 10px;
      left: 6px;
      border-radius: 45%;
      background-color: hsl(0, 0%, 56%);
      z-index: -1;
    }

    .steam-one {
      animation: steam-style-one 3.5s ease-out infinite;
      bottom: 15px;
    }
    .steam-three {
      animation: steam-style-one 3.5s ease-out 1s infinite;
      bottom: 25px;
    }
    @keyframes steam-style-one {
      from {
        transform: translateY(0) translateX(0) scale(0.25);
        opacity: 0.25;
      }
      to {
        transform: translateY(-65px) translateX(-5px) scale(1.5);
        opacity: 0;
      }
    }

    .steam-two {
      animation: steam-style-two 3.5s ease-out 0.5s infinite;
      bottom: 20px;
    }
    .steam-four {
      animation: steam-style-two 3.5s ease-out 1.5s infinite;
      bottom: 30px;
    }
    @keyframes steam-style-two {
      from {
        transform: translateY(0) translateX(0) scale(0.25);
        opacity: 0.25;
      }
      to {
        transform: translateY(-65px) translateX(10px) scale(1);
        opacity: 0;
      }
    }
  }

  .switch {
    position: absolute;
    width: 50px;
    height: 47px;
    right: 300px;
    border-radius: 0.3em;
    background-color: hsl(21, 20%, 86%);

    [class*="screw-"] {
      position: absolute;
      width: 5px;
      height: 5px;
      left: 23px;
      background-color: hsl(240, 4%, 65%);
      border-radius: 50%;
    }
    .screw-one {
      top: 3px;
    }
    .screw-two {
      top: 39px;
    }

    .light {
      position: absolute;
      width: 15px;
      height: 26px;
      left: 18px;
      top: 10px;
      background-color: hsl(28, 18%, 94%);
      border-radius: 0.1em;

      button {
        position: absolute;
        width: 10px;
        height: 20px;
        left: 2.5px;
        top: 3px;
        background-color: hsl(240, 4%, 30%);
        border: 0;
        border-radius: 0.15em;
        display: flex;

        &:before {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: hsl(240, 4%, 80%);
          border-radius: 0.15em 0.15em 0 0;
        }

        &:after {
          content: "";
          position: absolute;
          width: 10px;
          height: 7px;
          top: 10px;
          background-color: hsl(240, 4%, 65%);
          border-radius: 0 0 0.15em 0.15em;
        }
      }
    }
  }

  @media (max-width: 768px) {
    margin-left: 0;
    margin-right: 0;

    .wall {
      width: 80%;
    }

    .desk {
      width: 90%;
    }

    .book-one {
      left: 30px;
      z-index: 1;
    }
    .book-two {
      left: 50px;
      z-index: 1;
    }

    .message {
      left: 15px;
      bottom: 315px;
    }

    .phone {
      left: 59px;
      z-index: 1;
    }

    .cup {
      right: 45px;
    }

    .switch {
      right: 15px;
    }
  }
}
