@use "../abstracts";

.header-section {
  @include abstracts.section-align();
  margin-top: abstracts.$section-margin + 2rem; /* Accomodate for fixed nav */
  margin-bottom: 8rem;
  padding: 11rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .desk {
    position: absolute;
    width: 40%;
    height: 12px;
    bottom: calc(1em + 3px); /* accomodates for change to thinner desk width */
    background-color: grey;
    border-radius: 1em;
  }

  .laptop {
    position: absolute;
    width: 175px;
    height: 115px;
    bottom: calc(1em + 15px); /* sitting on top of desk */
    background-color: abstracts.$clr-text;
    border-top: 4px solid abstracts.$clr-secondary;
    border-radius: 0.5em 0.5em 0 0;
    z-index: 1;

    .dot {
      position: absolute;
      width: 6px;
      height: 6px;
      left: 10px;
      top: 9px;
      background-color: red;
      border-radius: 50%;
    }
  }

  .book-one {
    position: absolute;
    width: 70px;
    height: 12px;
    bottom: calc(1em + 15px); /* sitting on top of desk */
    left: 360px;
    border-style: inset;
    border: 2.5px solid orange;
    border-left: 0;
    border-right: 6px solid orange;
    border-radius: 0 0.5em 0.5em 0;
    background-color: hsl(0, 0%, 96%);
  }
  .book-two {
    position: absolute;
    width: 70px;
    height: 20px;
    bottom: calc(1em + 15px + 12px); /* sitting on top of book-one */
    left: 365px;
    border-style: inset;
    border: 4px solid blueviolet;
    border-right: 10px solid blueviolet;
    border-left: 0;
    border-radius: 0 0.5em 0.5em 0;
    background-color: hsl(0, 0%, 96%);
  }

  .phone {
    position: absolute;
    width: 50px;
    height: 6px;
    bottom: calc(1em + 15px + 12px + 20px); /* sitting on top of book-two */
    left: 370px;
    background-color: green;
    border-radius: 0.1em;
  }

  .girl {
    position: absolute;
    width: 78px;
    height: 65px;
    bottom: 130px;
    border-radius: 0 0 50px 50px;
    border-style: inset;
    border: 6px solid #f6d2be;
    border-top: none;
    background-color: #fddac5;

    .eye {
      position: absolute;
      width: 12px;
      height: 12px;
      bottom: 23px;
      left: 9px;
      border-radius: 50%;
      background-color: rgb(86, 33, 33);

      &:nth-child(2) {
        left: auto;
        right: 9px;
      }
    }

    .nose {
      position: absolute;
      width: 6px;
      height: 14px;
      bottom: 12px;
      left: 30px;
      border-radius: 20px;
      background-color: #efc2a3;
    }

    .hair {
      position: absolute;
      width: 95px;
      height: 60px;
      left: -14px;
      background-color: aquamarine;
      z-index: -3;
    }

    .hair-top {
      position: absolute;
      width: 95px;
      height: 40px;
      background-color: aquamarine;
      border-radius: 10rem 10rem 0 0;
      left: -14px;
      bottom: 59px;
    }

    .hair-left {
      position: absolute;
      width: 77px;
      height: 38.5px;
      border-bottom: thick double aqua;
      border-radius: 50%;
      background-color: aquamarine;
      transform: rotate(-50deg);
      right: 12px;
      bottom: 47px;
    }

    .hair-right {
      position: absolute;
      width: 72px;
      height: 36px;
      border-bottom: thick double aqua;
      border-radius: 50%;
      background-color: aquamarine;
      transform: rotate(45deg);
      left: 14px;
      bottom: 48px;
    }
  }

  .cup {
    position: absolute;
    width: 43px;
    height: 25px;
    right: 380px;
    bottom: calc(1em + 15px); /* sitting on top of desk */
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 48px solid blueviolet;

    &:after {
      content: "";
      position: absolute;
      width: 8px;
      right: -2px;
      bottom: 3px;
      border-top: 35px solid aqua;
      border-left: 0 solid transparent;
      border-right: 5px solid transparent;
    }

    .lid {
      position: absolute;
      width: 47px;
      height: 7px;
      right: -9px;
      bottom: 43px;
      background-color: blue;
      border-radius: 1em;
      border-bottom: thin double aqua;
    }

    [class*="steam-"] {
      position: absolute;
      width: 20px;
      height: 10px;
      bottom: 15px;
      left: 6px;
      border-radius: 45%;
      // background-color: red;
      z-index: -1;
    }

    .steam-one {
      animation: steam-style-one 3.5s ease-out infinite;
      background-color: red;
    }
    .steam-three {
      animation: steam-style-one 3.5s ease-out 1s infinite;
      background-color: orange;
    }
    @keyframes steam-style-one {
      from {
        transform: translateY(0) translateX(0) scale(0.25);
        opacity: 0.25;
      }
      to {
        transform: translateY(-65px) translateX(-5px) scale(1);
        opacity: 0;
      }
    }

    .steam-two {
      animation: steam-style-two 3.5s ease-out 0.5s infinite;
      background-color: blue;
    }
    .steam-four {
      animation: steam-style-two 3.5s ease-out 1.5s infinite;
      background-color: blueviolet;
    }
    @keyframes steam-style-two {
      from {
        transform: translateY(0) translateX(0) scale(0.25);
        opacity: 0.25;
      }
      to {
        transform: translateY(-65px) translateX(10px) scale(1);
        opacity: 0;
      }
    }
  }
}
