@use "../abstracts";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* For ease in setting padding */
  scroll-behavior: smooth;

  &::before {
    @extend *;
  }
  &::after {
    @extend *;
  }
}

.darkMode {
  @include abstracts.darkMode();
}

body,
.btn {
  font-family: abstracts.$font-family;
  font-weight: 700;

  background-color: abstracts.$clr-primary;
}
