$ff-primary: "Oswald", sans-serif;
$ff-secondary: "Tilt Warp", cursive;
$section-margin: 3rem;
$box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
  0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
$clr-primary: white;
$clr-secondary: navy;
$clr-accent: black;
$clr-btn: hsl(350, 100%, 88%);
$clr-btn--lt: hsl(350, 100%, 88% + 10%);
