body,
.btn,
.contact-section .btn {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-se;
}

*, *::after, ::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* For ease in setting padding */
  scroll-behavior: smooth;
}
.btn, .contact-section .btn {
  background: hsl(235, 25%, 55%);
  color: white;
  border: none;
  padding: 0.5em 3em;
  border-radius: 3em;
  cursor: pointer;
  font-size: 1.1em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.btn:hover, .btn:focus {
  background: hsl(235, 25%, 65%);
}
.btn + .btn {
  margin-left: 0.25rem;
}

/* Navigation */
nav {
  background-color: black;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  /* Make nav sticky */
  position: fixed;
  top: 0;
  width: 100%;
}
nav .nav-branding {
  font-size: 1.75rem;
  letter-spacing: 3px;
}
nav .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1.75rem;
}
nav .nav-link {
  transition: 0.7s ease;
}
nav .nav-link:hover {
  color: navy;
}
nav a {
  color: white;
  text-decoration: none;
}
nav li {
  list-style: none;
}
nav .hamburger {
  display: none;
  cursor: pointer;
}
nav .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* Intro Section */
.intro-section {
  margin: 4.5rem;
  text-align: center;
  margin-top: 6.5rem; /* Accomodate for fixed nav */
}
.intro-section .title {
  font-size: 4rem;
}
.intro-section .subtitle {
  font-size: 2rem;
}

/* About Me and Skills Section */
.about-section {
  margin: 4.5rem;
  text-align: center;
}
.about-section .header {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  padding-bottom: 0;
}
.about-section .body {
  margin-top: 2rem;
  font-size: 1.25em;
}

.skills-section {
  margin: 4.5rem;
  text-align: center;
}
.skills-section .header {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  padding-bottom: 0;
}
.skills-section .skills-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 40px);
  gap: 3.5rem;
  margin: 4.5rem;
  margin-top: 2rem;
}
.skills-section .skills-grid .skill {
  place-self: center;
}

/* Projects Section */
.projects-section {
  margin: 4.5rem;
  text-align: center;
}
.projects-section .header {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  padding-bottom: 0;
  margin-bottom: 2.5rem;
}
.projects-section .card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2.5rem;
  justify-content: center;
  align-items: flex-start;
}
.projects-section .card-grid .card {
  background-color: white;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}
.projects-section .card-grid .card .card-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  padding-bottom: 0;
}
.projects-section .card-grid .card .card-image {
  overflow: hidden;
  padding: 0;
}
.projects-section .card-grid .card .card-image > img {
  display: block;
  width: 100%;
  max-height: 200px; /* avoids img becoming too wide */
  /* maintains a 16x9 img of any size, avoids loss of quality */
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.projects-section .card-grid .card .card-image > img:hover {
  transform: scale(1.025);
  transition: 200ms transform ease-in-out;
}
.projects-section .card-grid .card .card-body {
  font-size: 1.25em;
  padding: 0 1rem;
  margin-bottom: 1rem;
}
.projects-section .card-grid .card .card-body .technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0.5rem 0;
}
.projects-section .card-grid .card .card-body .technologies .technology {
  font-size: 0.75em;
  background-color: black;
  color: white;
  padding: 0.5em 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.projects-section .card-grid .card .card-footer {
  margin-top: 0.5rem;
  padding: 1.5rem;
  padding-top: 0;
}

/* Contact Section */
.contact-section {
  margin: 4.5rem;
  text-align: center;
}
.contact-section .header {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  padding-bottom: 0;
}
.contact-section .btn {
  padding: 1em 1.2em;
}
.contact-section .body {
  padding: 4rem 0 8rem 0;
}
.contact-section .contact-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-top: 2rem;
}
.contact-section .contact-links {
  display: flex;
  gap: 2rem;
}
.contact-section .contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.contact-section .contact-form input[name=bot-field] {
  display: none;
}
.contact-section .contact-form label,
.contact-section .contact-form .form-input {
  font-family: inherit;
  font-weight: 650;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.contact-section .contact-form .form-item {
  display: flex;
  flex-direction: column;
}
.contact-section .contact-form .form-item .form-input {
  margin-top: 0.5rem;
  padding: 0.5em;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/* Site End */
.creator {
  margin: auto 0 0.5rem 0;
  text-align: center;
  font-size: 0.8rem;
}

/* Media Queries */
@media (max-width: 768px) {
  /* Navigation */
  nav .hamburger {
    display: block;
  }
  nav .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  nav .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  nav .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  nav .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  nav .nav-item {
    margin: 16px 0;
  }
  nav .nav-menu.active {
    left: 0;
  }
  /* Projects Section */
  .projects-section .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.5rem;
    justify-content: center;
    align-items: flex-start;
    margin: 2rem;
  }
  .projects-section .card-grid .btn {
    padding: 0.5em 1.75em;
  }
  .projects-section .card-grid .card .card-body .technologies .technology {
    font-size: 0.65em;
  }
  /* Skills Section */
  .skills-section .skills-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 40px);
    grid-template-rows: repeat(2, 40px);
    gap: 3.5rem;
  }
  /* Contact Section */
  .contact-section .contact-flex .contact-links {
    gap: 0.75rem;
  }
  .contact-section .form-item {
    max-width: 300px;
  }
}/*# sourceMappingURL=style.css.map */