body {
  /* accomodating for fixed navbar */
  padding-top: 60px;
}

header,
section,
footer {
  padding: 15px;
}

img {
  padding-bottom: 12px;
  border: 5px dotted;
}

@media only screen and (max-width: 992px) {
  article {
    padding: 10px;
  }
}

/* border: 0.5rem outset pink;
  outline: 0.5rem solid khaki;
  box-shadow: 0 0 0 2rem skyblue;
  border-radius: 12px;
  font: bold 1rem sans-serif;
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem; */
