@use "./abstracts";

@use "./base/reset";

@use "./components/buttons";

/* NAVIGATION */

nav {
  background-color: abstracts.$clr-secondary;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

  /* Make nav sticky */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .nav-branding {
    font-size: abstracts.$nav-size;
    letter-spacing: 3px;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: abstracts.$nav-size;
  }

  .nav-link {
    transition: 0.7s ease;

    &:hover {
      color: abstracts.$clr-primary;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  .hamburger {
    display: none;
    cursor: pointer;

    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: abstracts.$clr-primary;
    }
  }

  @media (max-width: 768px) {
    .hamburger {
      display: block;

      &.active {
        .bar:nth-child(2) {
          opacity: 0;
        }
        .bar:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }
        .bar:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }

    .nav-menu {
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: abstracts.$clr-secondary;
      width: 100%;
      text-align: center;
      transition: 0.3s;
    }

    .nav-item {
      margin: 16px 0;
    }

    .nav-menu {
      &.active {
        left: 0;
      }
    }
  }
}

/* HEADER SECTION */

.header-section {
  @include abstracts.section-align();
  margin-top: abstracts.$section-margin + 2rem; /* Accomodate for fixed nav */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  .hero-title {
    font-size: abstracts.$h1-size;
  }

  .hero-subtitle {
    font-size: abstracts.$h3-size;
  }

  .hero-image {
    width: 50%;
    clip-path: circle(34%);
    z-index: -1;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .hero-image {
      width: 100%;
      clip-path: circle(34%);
      z-index: -1;
    }
  }
}

/* ABOUT ME AND SKILLS SECTION */

.diagonal {
  position: relative;
  isolation: isolate; /* Keeps z-index of ::after contained within .diagonal in case of future bg */
  padding-block: 1rem 2.5rem;
}

.diagonal::after {
  content: "";
  background: linear-gradient(
    hsl(224, 33%, 88%),
    hsl(224, 33%, 81.5%),
    hsl(224, 33%, 75%)
  );
  position: absolute; /* Pseudo element living in .diagonal so is 
  position is relative to .diagonal's relative position, which keeps it in the flow */
  z-index: -1;
  inset: 0; /* Shorthand for top bottom left right */
  transform: skewY(-5.5deg);
}

.about-section {
  @include abstracts.section-align();

  .header {
    @include abstracts.section-header();
  }

  .body {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .bio {
      padding: 0 4em;
      font-size: abstracts.$p-size;
      line-height: 2.2rem;
    }
  }

  @media (max-width: 768px) {
    margin: 0;

    .body {
      .bio {
        padding: 0 1.5em;
      }
    }
  }
}

.skills-section {
  @include abstracts.section-align();

  .header {
    @include abstracts.section-header();
  }

  .skills-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 40px);
    gap: 3.5rem;
    margin: abstracts.$section-margin;
    margin-top: 2rem;

    .skill {
      place-self: center;
    }
  }

  @media (max-width: 768px) {
    .skills-grid {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(3, 40px);
      grid-template-rows: repeat(2, 40px);
      gap: 3.5rem;
    }
  }
}

/* PROJECTS SECTION */

.projects-section {
  @include abstracts.section-align();

  .header {
    @include abstracts.section-header();
    margin-bottom: 2.5rem;
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;

    .card {
      background-color: abstracts.$clr-primary;
      border-radius: 0.75rem;
      overflow: hidden;
      box-shadow: abstracts.$box-shadow;

      .card-title {
        font-size: abstracts.$h3-size;
        margin-bottom: 0.5rem;
        padding: 1rem;
        padding-bottom: 0;
      }

      .card-image {
        overflow: hidden;
        padding: 0;

        > {
          img {
            display: block;
            width: 100%;
            max-height: 200px; /* Avoids img becoming too wide */
            /* Maintains a 16x9 img of any size, avoids loss of quality */
            aspect-ratio: 16 / 9;
            object-fit: cover;
            object-position: center;

            &:hover {
              transform: scale(1.025);
              transition: 200ms transform ease-in-out;
            }
          }
        }
      }

      .card-body {
        font-size: abstracts.$p-size;
        padding: 0 1rem;
        margin-bottom: 1rem;

        .technologies {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          gap: 0.5rem;
          margin: 0.5rem 0;

          .technology {
            font-size: abstracts.$technology-size;
            background-color: black;
            color: white;
            padding: 0.5em 1em;
            border-radius: 3em;
            text-transform: uppercase;
            letter-spacing: 0.1em;
          }
        }
      }

      .card-footer {
        margin-top: 0.5rem;
        padding: 1.5rem;
        padding-top: 0;
      }
    }
  }

  @media (max-width: 768px) {
    .card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2.5rem;
      justify-content: center;
      align-items: flex-start;
      margin: 2rem;

      .btn {
        padding: 0.5em 1.75em;
      }

      .card {
        .card-body {
          .technologies {
            .technology {
              font-size: 0.65em;
            }
          }
        }
      }
    }
  }
}

/* CONTACT SECTION */

.contact-section {
  @include abstracts.section-align();

  .header {
    @include abstracts.section-header();
  }

  .btn {
    @extend .btn;
    border-radius: 3em;
    padding: 1em 1.2em;
  }

  .body {
    padding: 4rem 0 8rem 0;
  }

  .contact-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-top: 2rem;
  }

  .contact-links {
    display: flex;
    gap: 2rem;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    input[name="bot-field"] {
      display: none;
    }

    label,
    .form-input {
      font-family: inherit;
      font-weight: 650;
      font-size: 1.2rem;
      letter-spacing: 1px;
    }

    .form-item {
      display: flex;
      flex-direction: column;

      .form-input {
        margin-top: 0.5rem;
        padding: 0.5em;
        border: 0;
        border-radius: 0.5rem;
        box-shadow: abstracts.$box-shadow;
      }
    }
  }

  @media (max-width: 768px) {
    .contact-flex {
      .contact-links {
        gap: 0.75rem;
      }
    }

    .form-item {
      max-width: 300px;
    }
  }
}

/* SITE END */

.creator {
  margin: auto 0 0.5rem 0;
  text-align: center;
  font-size: 0.8rem;
}
