/* Collects into one file to distribute all as one file when used
as opposed to @use whose variables are only available in the file they are
used in */
*, *::after, ::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* For ease in setting padding */
  scroll-behavior: smooth;
}
body,
.btn {
  font-family: "Source Sans Pro", sans-serif;
  background-color: hsl(50, 18%, 93%);
}

.btn {
  background: hsl(224, 33%, 75%);
  color: hsl(50, 18%, 93%);
  border: none;
  padding: 0.5em 3em;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1.1em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.btn:hover, .btn:focus {
  background: hsl(224, 33%, 85%);
}
.btn + .btn {
  margin-left: 0.25rem;
}

nav {
  background-color: hsl(218, 45%, 15%);
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  /* Make nav sticky */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
nav .nav-branding {
  font-size: 1.75rem;
  letter-spacing: 3px;
}
nav .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1.75rem;
}
nav .nav-link {
  transition: 0.7s ease;
}
nav .nav-link:hover {
  color: hsl(50, 18%, 93%);
}
nav a {
  color: white;
  text-decoration: none;
}
nav li {
  list-style: none;
}
nav .hamburger {
  display: none;
  cursor: pointer;
}
nav .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: hsl(50, 18%, 93%);
}
@media (max-width: 768px) {
  nav .hamburger {
    display: block;
  }
  nav .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  nav .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  nav .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  nav .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: hsl(218, 45%, 15%);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  nav .nav-item {
    margin: 16px 0;
  }
  nav .nav-menu.active {
    left: 0;
  }
}

.header-section {
  margin: 4.5rem;
  text-align: center;
  margin-top: 6.5rem; /* Accomodate for fixed nav */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.header-section .hero-title {
  font-size: 4rem;
  letter-spacing: 1.5px;
}
.header-section .hero-subtitle {
  font-size: 2rem;
  letter-spacing: 1px;
}
.header-section .hero-image {
  width: 35%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: 3px solid hsl(96, 18%, 74%);
  box-shadow: 6px 6px hsl(96, 18%, 74%);
  margin-bottom: -7.5rem;
  z-index: 1;
}
@media (max-width: 768px) {
  .header-section {
    flex-direction: column;
  }
  .header-section .hero-image {
    width: 100%;
  }
}

.diagonal {
  position: relative;
  isolation: isolate; /* Keeps z-index of ::after contained within .diagonal in case of future bg */
  padding-block: 2.5rem;
}

.diagonal::after {
  content: "";
  background: linear-gradient(hsl(224, 33%, 88%), hsl(224, 33%, 81.5%), hsl(224, 33%, 75%));
  position: absolute; /* Pseudo element living in .diagonal so is 
position is relative to .diagonal's relative position, which keeps it in the flow */
  z-index: -1;
  inset: 0; /* Shorthand for top bottom left right */
  transform: skewY(-5.5deg);
}

.about-section {
  margin: 4.5rem;
  text-align: center;
}
.about-section .header {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  padding-bottom: 0;
}
.about-section .body {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.about-section .body .bio {
  padding: 0 4em;
  font-size: 1.25em;
  line-height: 2.2rem;
}
@media (max-width: 768px) {
  .about-section {
    margin: 0;
  }
  .about-section .header {
    margin-top: 2rem;
  }
  .about-section .body .bio {
    padding: 0 1.5em;
  }
}

.skills-section {
  margin: 4.5rem;
  text-align: center;
}
.skills-section .header {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  padding-bottom: 0;
}
.skills-section .skills-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 40px);
  gap: 3.5rem;
  margin: 4.5rem;
  margin-top: 2rem;
}
.skills-section .skills-grid .skill {
  place-self: center;
}
@media (max-width: 768px) {
  .skills-section .skills-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 40px);
    grid-template-rows: repeat(2, 40px);
    gap: 3.5rem;
  }
}

.projects-section {
  margin: 4.5rem;
  text-align: center;
}
.projects-section .header {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  padding-bottom: 0;
  margin-bottom: 2.5rem;
}
.projects-section .card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
}
.projects-section .card-grid .card {
  background-color: hsl(50, 18%, 93%);
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}
.projects-section .card-grid .card .card-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  padding-bottom: 0;
}
.projects-section .card-grid .card .card-image {
  overflow: hidden;
  padding: 0;
}
.projects-section .card-grid .card .card-image > img {
  display: block;
  width: 100%;
  max-height: 200px; /* Avoids img becoming too wide */
  /* Maintains a 16x9 img of any size, avoids loss of quality */
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.projects-section .card-grid .card .card-image > img:hover {
  transform: scale(1.025);
  transition: 200ms transform ease-in-out;
}
.projects-section .card-grid .card .card-body {
  font-size: 1.25em;
  padding: 0 1rem;
  margin-bottom: 1rem;
}
.projects-section .card-grid .card .card-body .technologies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0.5rem 0;
}
.projects-section .card-grid .card .card-body .technologies .technology {
  font-size: 0.75em;
  background-color: black;
  color: white;
  padding: 0.5em 1em;
  border-radius: 3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.projects-section .card-grid .card .card-footer {
  margin-top: 0.5rem;
  padding: 1.5rem;
  padding-top: 0;
}
@media (max-width: 768px) {
  .projects-section .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2.5rem;
    justify-content: center;
    align-items: flex-start;
    margin: 2rem;
  }
  .projects-section .card-grid .btn {
    padding: 0.5em 1.75em;
  }
  .projects-section .card-grid .card .card-body .technologies .technology {
    font-size: 0.65em;
  }
}

.contact-section {
  margin: 4.5rem;
  text-align: center;
}
.contact-section .header {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  padding-bottom: 0;
}
.contact-section .btn {
  border-radius: 3em;
  padding: 1em 1.2em;
}
.contact-section .body {
  padding: 4rem 0 8rem 0;
}
.contact-section .contact-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-top: 2rem;
}
.contact-section .contact-links {
  display: flex;
  gap: 2rem;
}
.contact-section .contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.contact-section .contact-form input[name=bot-field] {
  display: none;
}
.contact-section .contact-form label,
.contact-section .contact-form .form-input {
  font-family: inherit;
  font-weight: 650;
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.contact-section .contact-form .form-item {
  display: flex;
  flex-direction: column;
}
.contact-section .contact-form .form-item .form-input {
  margin-top: 0.5rem;
  padding: 0.5em;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}
@media (max-width: 768px) {
  .contact-section .contact-flex .contact-links {
    gap: 0.75rem;
  }
  .contact-section .form-item {
    max-width: 300px;
  }
}

/* Site End */
.creator {
  margin: auto 0 0.5rem 0;
  text-align: center;
  font-size: 0.8rem;
}/*# sourceMappingURL=style.css.map */